# Visual Studio
.vs/
*.vscode/
*.user
*.suo
*.cache
*.dbmdl
*.bak
*.log
*.ldf
*.mdf

# Build results
bin/
obj/
Debug/
Release/

# Others
*.exe
*.dll
*.pdb
*.tmp


.DS_Store
node_modules
/dist


# --- .NET ---
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dbmdl
*.bak
*.log
*.ldf
*.mdf

# --- Vue / Node ---
client/node_modules/
client/dist/
client/.env
client/.DS_Store
client/npm-debug.log*
client/yarn-error.log*

# --- Others ---
*.exe
*.dll
*.pdb
*.tmp

